body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
  color: #00142b;
}

form {
  width: 600px;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: 2px #005cbe solid;
  border-radius: 8px;
}

form > * {
  display: block;
}

form input {
  width: 80%;
  margin-bottom: 1.5em;
}

label {
  margin: 0 !important;
}

form input[type="submit"] {
  margin: 1em !important;
}

form input::placeholder {
  text-align: center;
}

/* Arrumando placeholder para IE */
form input:-ms-input-placeholder {
  text-align:center;
}
